<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WEB_SERVICE_ADDRESS" value="https://www.postmarkerdemo.com/pm2svc/PostMarker.asmx" />
		<add key="HEARTBEAT_FREQUENCY_SECONDS" value="30" />
		<add key="CORE_SERVICE_TIMEOUT_SECONDS" value="30" />
		<add key="WEB_SERVICE_RETRY_SECONDS" value="10" />
		<add key="WEB_SERVICE_RETRY_ATTEMPTS" value="3" />
		<add key="LOG_TO_FILE" value="true" />
		<add key="LOG_FILE" value="PostMarker.log" />
		<add key="FILE_LOGGING_PRIORITY" value="Debug" />
    	<add key="LOG_TO_WINDOWS_EVENT_LOG" value="false" />
	</appSettings>
</configuration>